<div>
  <p><strong>What is your favorite versioning tool?</strong></p>
     <%= form_with url: quiz_wizard_validate_step_path, model: @quiz_wizard, local: true do |form| %>
      <%= hidden_field_tag :current_step, 'step2' %>
      <%=form.radio_button :answer_one, "SVN"%>
      <%= form.label :SVN%><br>
      <%=form.radio_button :answer_one, "GIT"%>
      <%= form.label :GIT%><br>
      <%=form.radio_button :answer_one, "CSV"%>
      <%= form.label :CSV%><br>
      <%=form.radio_button :answer_one, "Mercurial"%>
      <%= form.label :Mercurial%><br>
      <%=form.radio_button :answer_one, "Ehh, what?"%>
      <%= form.label "Ehh, what?"%><br>
      <%=form.submit "Next"%>
    <%end%>
</div>
